.issueContainer {
  margin: 1px;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid;
  :&hover {
    text-decoration: none;
    color: black;
  }
}

Link {
  text-decoration: none;
}
.issueHeader {
  display: grid;
  grid-template-columns: 10% 80% 10%;
}
.issueCard {
  max-height: 45px;
  align-items: center;
  justify-content: center;
}
